body {
  font-family: 'Beau Rivage', cursive;
  margin: 0;
  padding: 0;
  color: rgb(255, 234, 0);
}

h1, h2 {
  font-family: 'Beau Rivage', cursive;
  text-shadow: 5px 5px 5px rgb(99, 2, 7);
  font-size: 120px;
  font-weight: 400;
}

.black-text-shadow {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

h3 {
  font-family: 'Rochester', cursive;
  font-size: 50px;
}

h4,
h5,
h6 {
  font-family: 'Rochester', cursive;}

.list-style{
  list-style-image: url('./assets/red_diamond.png');
}

.medium {
  font-size: 40px;
}

.small {
  font-weight: 300;
  font-size: 25px;
  font-family: 'Rochester', cursive;
}

.bg-image {
  background-image: url('./assets/pink_crystals.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.bg-overlay {
   /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(242, 133, 240,1));  */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(99, 2, 7, 1));     
  /* box-sizing: 'content-box'; */
  margin: 0;
  padding: 0;
}

.ornate-border {
  border-image-slice: 42 42 42 42;
border-image-width: 42px 42px 42px 42px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: round round;
border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
border-style: solid;
}
.maroon-background {
  background-color:rgb(99, 2, 7); 
}

.gold-font {
  color: rgb(255, 234, 0) !important; 
}

.maroon-font {
  color: rgb(99, 2, 7) !important;
}

.bg-red {
  background-color: rgb(66, 2, 5);;   
}
.red-box-shadow {
  box-shadow: 0px 0px 50px 0px rgb(99, 2, 7);;
}

.gold-background {
  background-color: rgb(255, 234, 0) !important;
}

#componentSoldOut,#componentBestSeller,#componentLikeRating,#componentFreeShipping {
  background-color: rgb(255, 234, 0) !important;
  border: 2px solid rgb(246, 190, 5);
}

.dark-gold-background {
  background-color: rgb(246, 190, 5) !important;
}

::placeholder{
  color: red;
}
.no-border{
  border-style: none;
  border-color: transparent;
}

.red-bg-active:focus{
  box-shadow: none;
}

.red-shadow-hover:hover{
  background-color: rgb(255, 234, 0);
  color: rgb(99, 2, 7);
  box-shadow: 0px 0px 20px red;
}

.red-bg-hover:hover{
  background-color: red;
}
  .transition{
    transition: all 0.5s ease-in-out;
  }


