body {
  font-family: 'Beau Rivage', cursive;
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2 {
  font-family: 'Beau Rivage', cursive;
  color: white;
  font-size: 120px;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-family: 'Beau Rivage', cursive;
  color: white;
}

.small {
  font-weight: 300;
  font-style: italic;
  color: white;
}

.bg-image {
  background-image: url('./assets/pink_crystals.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.bg-overlay {
   /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(242, 133, 240,1));  */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(99, 2, 7, 1));     
  /* box-sizing: 'content-box'; */
  margin: 0;
  padding: 0;
}

