body {
  font-family: 'Beau Rivage', cursive;
  margin: 0;
  padding: 0;
  color: rgb(255, 234, 0);
}

h1, h2 {
  font-family: 'Beau Rivage', cursive;
  text-shadow: 5px 5px 5px rgb(99, 2, 7);
  font-size: 120px;
  font-weight: 400;
}

.black-text-shadow {
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

h3 {
  font-family: 'Rochester', cursive;
  font-size: 50px;
}

h4,
h5,
h6 {
  font-family: 'Rochester', cursive;}

.list-style{
  list-style-image: url('./assets/red_diamond.png');
}

.medium {
  font-size: 40px;
}

.small {
  font-weight: 300;
  font-size: 25px;
  font-family: 'Rochester', cursive;
}

.bg-image {
  background-image: url('./assets/pink_crystals.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}
.bg-overlay {
   /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(242, 133, 240,1));  */
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(99, 2, 7, 1));     
  /* box-sizing: 'content-box'; */
  margin: 0;
  padding: 0;
}

.ornate-border {
  border-image-slice: 42 42 42 42;
border-image-width: 42px 42px 42px 42px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: round round;
border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg");
border-style: solid;
}
.maroon-background {
  background-color:rgb(99, 2, 7); 
}

.gold-font {
  color: rgb(255, 234, 0) !important; 
}

.maroon-font {
  color: rgb(99, 2, 7) !important;
}

.bg-red {
  background-color: rgb(66, 2, 5);   
}
.red-box-shadow {
  box-shadow: 0px 0px 50px 0px rgb(99, 2, 7);
}

.gold-background {
  background-color: rgb(255, 234, 0) !important;
}


.form-check-input {
  /* background: rgb(255, 234, 0);
  accent-color: rgb(246, 190, 5); */
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: rgb(255, 234, 0);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgb(246, 190, 5);
  background: rgb(255, 234, 0);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-check-input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(99, 2, 7);
}

.form-check-input:checked::before {
  transform: scale(1);
}

.dark-gold-background {
  background-color: rgb(246, 190, 5) !important;
}

.form-control::placeholder{
  color: red;
}

.dropdown-item{
  color: rgb(66, 2, 5);
}

.dropdown-item:hover{
  background-color: rgb(246, 190, 5);
}

.dropdown-item:active{
  color: red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.no-border-override{
  border-style: none !important;
}
.no-border{
  border-style: none;
  border-color: transparent;
}

.red-bg-active:focus{
  box-shadow: none;
}

.red-shadow-hover:hover{
  background-color: rgb(255, 234, 0);
  color: rgb(99, 2, 7);
  box-shadow: 0px 0px 20px red;
}

.red-bg-hover:hover{
  background-color: red;
}
  .transition{
    transition: all 0.5s ease-in-out;
  }


